{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <title>Final-Website</title>
</head>
<body>
    <h1 class="Facts-Title">Facts & Stats</h1> 
    <div id="stats">
        <h2>Goal:</h2>
        <div>
            <ol>
            <li>Offer competitively priced energy and help customers reduce bills through flexible tariffs and efficiency tools.</li>
            <li>Invest heavily in renewable energy generation to drive the green transition. The goal is to supply 100% renewable energy.</li>
            <li>Evolve its Kraken platform and products like OctoFi to lead innovation in energy tech.</li>
            </ol>
        </div>
        <div>
            <h2>Accomplishments:</h2>
            <ol>
            <li>Octopus Energy has major office presences in the UK, Germany, US, Australia, Spain, Italy, France, Japan and New Zealand</li>
            <li>Reached unicorn status in 2021 with a valuation over $2 billion. Currently valued at approximately $3.4 billion.</li>
            <li>Founder Greg Jackson awarded an MBE and named in Fortune 40 Under 40 list in 2022.</li>
            </ol>
        </div>
        <div>
            <h2>Fun Projects:</h2>
            <ol>
            <li>Electric vehicle propositions - Offers specialized Octopus EV tariffs, along with options to install home EV chargers. Also has a partnership with Tesla to provide discounted electricity for Powerwall users.</p>
            <li>Octopus Co-op Solar - A joint venture with Co-op Energy to install rooftop solar panels and batteries on Co-op Food stores to generate clean energy.</li>
            <li>Hydrogen Trials - Pilot projects to test injection of hydrogen into the gas grid in partnership with SGN.</li>
            </ol>
        </div>
    </div>
</body>
</html>
