{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <title>UserPage</title>
</head>
<body>
    <div id="userpage">
        <div>
        <h1 class="user-header">{{user.name}}</h1>
        <img src="{% static user.image %}"/>
        </div>
        <div> 
            {% for answer in answers %}
            <div>
                <h2>{{answer.question.question_text}}</h2>
                <p>{{answer.answer_text}}</p>
            </div>
            {% endfor %}
        </div>
    </div>   
</body>
</html>